{% extends "layout.html" %} {% block content %}

<div class="m-20">
	<div class="text-white font-K2D text-3xl text-left font-semibold mb-10">
		<h1>Componentes</h1>
	</div>
	<div class="grid gap-10 grid-cols-[repeat(auto-fit,minmax(18rem,1fr))]">
		{% for componente in componentes %}
		<div class="w-max">
			<a href="{{ url_for('detalle_componente', componente_id=componente['_id']) }}">
				<div class="card w-96 bg-neutral-900 rounded-lg">
					<div class="flex items-center justify-center bg-neutral-800">
						<figure class="w-[400px] h-[200px]">
							<div class="h-full w-full">
								<img src="{{ componente.image }}" alt="{{ componente.nombre }}"
									class="w-full h-full object-cover rounded-md" />
							</div>
						</figure>
					</div>
					<div class="card-body">
						<h2 class="card-title font-medium text-2xl">{{ componente.nombre }}</h2>
						<div class="h-10">
							<p class="truncate">{{ componente.descripcion }}</p>
						</div>
						<p class="font-light text-2xl">S/ {{'{:,.2f}'.format(componente.precio)}}</p>
						<p class="text-green-500 font-medium text-lg">{{componente.condicion}} </p>

						<!-- Agrega más información según sea necesario -->

					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}