{% extends "layout.html" %} {% block title %}ElecTrade - {{ componente.nombre }}{%
endblock %} {% block content %}

<div class="h-full">
	<div class="flex items-center justify-center  my-20 ">
		<div class="bg-neutral-800 rounded-md grid grid-cols-2 p-8 pt-10 gap-8  w-[1300px] h-full">
			<div>
				<div class="flex items-center justify-center mb-6">
					<div class="w-[400px] h-[400px]">
						<img src="../{{componente.image}}" alt="{{ componente.nombre }}" />
					</div>
				</div>
				<div class="border-t-2 border-t-neutral-500 pt-5 ">
					<h1 class="text-white font-medium text-2xl">Descripción</h1>
					<p class="text-lg mt-5">{{componente.descripcion}} </p>
				</div>
			</div>
			<div class="flex items-center justify-center">
				<div>
					<div class="border-2 p-4 rounded-lg border-neutral-500 w-[500px] h-[400px]">
						<span class="text-lg font-light">{{componente.condicion}} </span>
						<div class="flex justify-between mt-4">
							<h1 class="text-3xl font-medium">{{componente.nombre}} </h1>
							{% if rol == 'Vendedor' %}
							<button id="editButton" onclick="toggleForm()">
								<iconify-icon icon="material-symbols:edit" width="30" height="30"
									class="ml-4 hover:text-green-400"></iconify-icon>
							</button>

							<div id="editForm"
								class="bg-black bg-opacity-50 fixed top-0 left-0 w-full h-full flex items-center justify-center">
								<div class="bg-neutral-800 rounded-md p-10">
									<form method="post"
										action="{{ url_for('editar_componente', componente_id=componente_id) }}">
										<!-- Agrega los campos de edición necesarios -->
										<div class="flex space-x-5">
											<div class="space-y-3">
												<h1 for="nombre" class="font-medium text-xl">
													Nuevo Nombre:
												</h1>
												<input type="text" id="nombre" name="nombre" class="input rounded-md"
													value="{{componente.nombre}}" />
												<h1 for="descripcion" class="font-medium text-xl">
													Nueva Descripción:
												</h1>
												<textarea id="descripcion" name="descripcion"
													class="input rounded-md w-full h-20 p-2"></textarea>
												<h1 for="precio" class="font-medium text-xl">
													Nuevo Precio:
												</h1>
												<input type="number" id="precio" name="precio" class="input rounded-md"
													step="0.01" value="{{componente.precio}}" />
												<h1 for="stock" class="font-medium text-xl">
													Nuevo Stock:
												</h1>
												<input type="number" id="stock" name="stock" class="input rounded-md"
													value="{{componente.stock}}" />
											</div>
										</div>
										<div class="mt-5 space-y-3">
											<div class="flex items-center justify-center">
												<button type="submit" value="Guardar cambios"
													class="btn rounded-md hover:text-green-500">
													Guardar cambios
												</button>
											</div>
											<div class="flex items-center justify-center">
												<button type="button" onclick="toggleForm()"
													class="btn rounded-md hover:text-green-500">
													Cancelar
												</button>
											</div>
											<div class="flex items-center justify-center">
												<button type="submit"
													formaction="{{ url_for('eliminar_componente', componente_id=componente_id) }}"
													class="btn rounded-md hover:text-green-500">Eliminar
												</button>

											</div>
										</div>
									</form>
								</div>
							</div>

							{% endif %}

						</div>

						<p class="font-light text-4xl mt-6">S/ {{'{:,.2f}'.format(componente.precio)}} </p>
						<a href="">
							<p class="font-light text-green-500">Métodos de pago</p>
						</a>
						<p class="font-light mt-6">Envíos a todo el país</p>
						<a href="">
							<p class="font-light text-green-500">Métodos de envío</p>
						</a>
						<div class="flex items-center justify-center mt-10">
							{% if componente['stock'] >= 1 %}
							<form
								action="{{ url_for('agregar_carrito', user_id=user_id, componente_id=componente_id) }}"
								method="post">
								<button type="submit"
									class="btn rounded-md w-80 border border-neutral-500 hover:bg-green-500 text-white">Comprar</button>
							</form>
							{% else %}
							<button
								class="btn rounded-md w-80 border border-neutral-500 hover:bg-red-500 text-white">Agotado</button>
							{% endif %}



						</div>
					</div>
					<div class="mt-24">
						<div class="border-neutral-500 border-2 p-6 rounded-lg">
							<h1 class="text-white font-medium text-2xl">Acerca del vendedor</h1>
							<div class="flex mt-6">
								<div class="w-40 h-40">
									<img src="../static/img/Gps.jpg" alt=""
										class="rounded-lg border-2 border-green-500 object-cover">
								</div>
								<div class="text-xl ml-6 space-y-2">
									<p class="font-medium">{{vendedor.username}} </p>
									<p class="font-light">+{{ time_elapsed }} vendiendo</p>
									<p class="font-light">{{total_ventas}} Ventas </p>
								</div>


							</div>
							<div class="mt-8">
								<div class="flex items-center justify-center">
									<div>
										{{vendedor.ventas}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% for category, message in messages %}
	{% if category == 'success' %}
	<div id="flash-messages"
		class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-neutral-900 text-white px-4 py-2 rounded-md opacity-0 transition-opacity duration-500 w-[500px]">
		<p>{{ message }}</p>
	</div>


	{% endif %}
	{% endfor %}
	{% endwith %}
</div>
<script>


	var flashMessages = document.getElementById('flash-messages');

	// Ajusta la opacidad después de que la página se ha cargado
	window.addEventListener('load', function () {
		flashMessages.style.opacity = '1';
	});

	// Oculta los mensajes flash después de 3 segundos
	setTimeout(function () {
		flashMessages.style.opacity = '0';
	}, 3000);


</script>
<script>
	function toggleForm() {
		var form = document.getElementById("editForm");
		form.classList.toggle("hidden");
	}

	// Agrega esta función para prevenir la ejecución automática al cargar la página
	document.addEventListener("DOMContentLoaded", function () {
		var form = document.getElementById("editForm");
		form.classList.add("hidden");
	});
</script>

{% endblock %}