{% extends "layout2.html" %} {%block title%}ElecTrade - Login{%endblock%} {%
block content %}

<div class="h-full">
	<div class="flex items-center justify-center space-x-20 h-full">
		<div class="p-5 pr-10 border-r-neutral-700 border-r-2">
			<div>
				<h1 class="font-bold text-4xl">Bienvenido</h1>
				<h2 class="text-xl">Inicia sesión</h2>
			</div>
			<form
				action="/login"
				method="post"
				class="mt-3">
				<div class="w-80 h-full">
					<h1
						for="username"
						class="font-medium my-2">
						Username
					</h1>
					<input
						type="text"
						name="username"
						class="input rounded-md w-full"
						required /><br />

					<h1
						for="password"
						class="font-medium my-2">
						Contraseña
					</h1>
					<input
						type="password"
						name="password"
						class="input rounded-md w-full"
						required /><br />

					<div class="mt-2 flex justify-between">
						<p>No tienes una cuenta?</p>
						<a
							href="/register"
							class="hover:text-green-500 font-medium"
							>Regristrate</a
						>
					</div>
					<div class="w-full text-center">
						<button
							type="submit"
							class="mt-4 btn rounded-md hover:text-green-500 font-medium text-xl">
							Iniciar Sesión
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="h-80 w-80">
			<img
				src="../static/img/Gps.jpg"
				alt=""
				class="w-full h-full rounded-md" />
		</div>
	</div>
</div>

{%endblock%}
