{% extends "layout.html" %} {% block content %}

<div id="IndexPage">
	<div class="font-K2D">
		<div class="p-20 flex space-x-40 justify-center">
			<div class="w-96 text-center grid grid-rows-2 gap-4">
				<div class="w-full flex">
					<p class="text-white text-left text-3xl m-auto">
						Descubre
						<span class="text-green-400">Componentes</span>
						y <span class="text-green-400">Servicios</span> excepcionales
					</p>
				</div>
				<div class="text-left">
					<a href="/componentes">
						<button
							class="btn rounded-md font-bold text-lg bg-green-600 hover:text-green-400">
							Explora la tienda
						</button>
					</a>
				</div>
			</div>

			<div>
				<img
					src="../static/img/Gps.jpg"
					alt="GPS"
					class="rounded-lg w-80" />
			</div>
		</div>
	</div>
	<div class="m-10 font-K2D">
		<div>
			<h1 class="text-3xl text-white text-left">
				Componentes!
				<NuxtLink to="/components">
					<span class="text-[16px] text-green-400 font-semibold">
						ver todos
					</span>
				</NuxtLink>
			</h1>
		</div>

		<div>
			<h1 class="text-3xl text-white text-left">
				Servicios!
				<NuxtLink to="/services">
					<span class="text-[16px] text-green-400 font-semibold">
						ver todos
					</span>
				</NuxtLink>
			</h1>
		</div>
	</div>
</div>

{% endblock %}
