{% extends "layout2.html" %} {% block title %} ElecTrade - Registro {% endblock
%} {% block content %}

<div class="h-full">
	<div class="flex items-center justify-center space-x-20 h-full">
		<div class="p-5 pr-10">
			<div>
				<h1 class="font-bold text-4xl">Bienvenido</h1>
				<h2 class="text-xl">Completa y Vende</h2>
			</div>
			<form action="/vendedor" id="myForm" method="post" class="mt-3">
				<div class="w-80 h-full">
					<h1 for="celular" class="font-medium my-2">
						Celular
					</h1>
					<input type="number" name="celular" class="input rounded-md w-full" required /><br />

					<h1 for="document_type" class="font-medium my-2">
						Tipo de Documento
					</h1>
					<select name="document_type" id="document_type" class="input rounded-md w-full" required>
						<option value="dni">DNI</option>
						<option value="ruc">RUC</option>
					</select><br />

					<div id="dni_fields">
						<h1 for="DNI" class="font-medium my-2">
							DNI
						</h1>
						<input type="number" name="DNI" class="input rounded-md w-full" /><br />
					</div>

					<div id="ruc_fields" style="display: none">
						<h1 for="RUC" class="font-medium my-2">
							RUC
						</h1>
						<input type="number" name="RUC" class="input rounded-md w-full" /><br />

						<h1 for="Company" class="font-medium my-2">
							Compañía
						</h1>
						<input type="text" name="Company" class="input rounded-md w-full" /><br />
					</div>

					<div class="w-full text-center">
						<button type="submit" class="mt-4 btn rounded-md hover:text-green-500 font-medium text-xl">
							Listo
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	function validarFormulario() {
		var documentType = document.getElementById("document_type").value;
		var dniFields = document.getElementById("dni_fields");
		var rucFields = document.getElementById("ruc_fields");
		var dniInput = document.getElementById("DNI");
		var rucInput = document.getElementById("RUC");
		var companyInput = document.getElementById("Company");

		if (documentType === "dni") {
			dniFields.style.display = "block";
			rucFields.style.display = "none";
			dniInput.setAttribute("required", "true");
			rucInput.removeAttribute("required");
			companyInput.removeAttribute("required");
		} else {
			dniFields.style.display = "none";
			rucFields.style.display = "block";
			rucInput.setAttribute("required", "true");
			companyInput.setAttribute("required", "true");
			dniInput.removeAttribute("required");
		}

		// Elimina los valores de los campos no visibles para evitar su validación
		if (dniFields.style.display === "none") {
			dniInput.value = "";
		} else {
			rucInput.value = "";
			companyInput.value = "";
		}

		// Envía el formulario si todos los campos requeridos están llenos
		if (document.getElementById("myForm").checkValidity()) {
			document.getElementById("myForm").submit();
		}
	}

	document
		.getElementById("document_type")
		.addEventListener("change", function () {
			validarFormulario();
		});
</script>
{% endblock %}